

$colour-primary: #E92569;
$colour-secondary: #0A0A0A;
$colour-background: #EFEFEF;
$colour-background-primary: #FFFFFF;
$colour-background-secondary: #EFEFEF;
$colour-background-third: #e9e9e9;
$font-colour-primary: #767676;


$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display', serif;