html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: $colour-background;
}


.header {
  display: flex;
  justify-content: center;
  width: 100%;

  &__item {
    width: 100%;
  }
}


.container__items {
  margin-bottom: 10em;
  h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
}
.container__items.contact.container {
  margin-bottom: 17em;
} 

.description-container {
  margin-top: 2em;
  margin-bottom: 3em;

  h1 {
    margin-bottom: 0.5em;
  }
}


.btn__item {
  border: none;
  background-color: $colour-primary;
  padding: 0;

  span {
    padding: 5px;
    display: inline-block;
  }
}



.btn__item:after {
  content: "";
  width: 20px;
  height: 35px;
  float: right;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: grey;
}

.card-body__items.card-body {
  background-color: $colour-background-primary;
  border-radius: 5px;

}

.card {
  margin-bottom: 2em !important
}


.pagination {
 
  .page-item {
    border: 1px solid $colour-primary;
  }
  a {
    color: $colour-primary  ;
  }
 
}
.page-item:first-of-type a {
  color: $colour-background;
  background-color: $colour-primary;
 }